div{
    width: 700px;
    height: 200px;
    background-color: cadetblue;

    /* border property : color pixel type(solid/double/dotted) */

    border: black 2px dotted;
    font-size: larger;
    margin-top: 262px;
    margin-left: 370px;

    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 20px;

    color: white;

}